/* 
================================
breakpoints
================================
*/

$desktop-width: 1000px;
$mobile-width: 450px;


/* 
================================
colors 
================================
*/

$white: #ffffff;
$black: #000000;
$blue-grey: #627b8b;
$light-blue-grey: #b0b8bc;
$light-grey: #e1e4e7;
$dark-blue: #2c3e50;
$medium-grey: #b0b8bc;
$blue: #3498db;
